[Unit]
Description=Face Attendance System
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/face_attendance
Environment="PATH=/var/www/face_attendance/venv/bin"
ExecStart=/var/www/face_attendance/venv/bin/gunicorn -c gunicorn_config.py app:app
Restart=always

[Install]
WantedBy=multi-user.target 