Flask==2.0.1
SQLAlchemy==2.0.23
opencv-python-headless==4.8.1.78
numpy==1.24.3
gunicorn==20.1.0
face-recognition==1.3.0
python-dotenv==1.0.0
Pillow==8.3.2
python-dateutil==2.8.2
dlib==19.24.0
cmake==3.25.2
setuptools==65.5.1
wheel==0.38.4
--only-binary :all:
chart.js==3.5.1 